@charset "utf-8";


/* ハンバーガーメニュー */

body {
  font-family: Verdana, sans-serif;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 40px;
  line-height: 30px;
  cursor: pointer;
}

.sp-menu #open.hidden {
  display: none;
}


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 40px;
  cursor: pointer;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translate(0, 16px);
  transition: transform .3, opacity.3s;
  cursor: pointer;

}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li :nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li :nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li :nth-child(3) {
  transition-delay: .3s;
}


.pc-menu {
  display: none;
}




/* pc <--> sp */
/* タブレット */

@media (min-width: 960px) {

  .sp-top-img {
    display: none;
  }

  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .sp-menu {
    display: none;
  }

  .pc-menu a {
    display: block;
  }

  .pc-menu a:hover {
    background: #ad9696;
  }

  .answer {
    margin-bottom: 600px;
  }

  .answer-img1--pc {
    width: 30%;
    position: absolute;
    top: 1250px;
    left: 350px;
  }

  .answer-img2--pc {
    width: 30%;
    position: absolute;
    top: 1500px;
    left: 730px;
  }

  .answer-img1 {
    display: none;
  }

  .answer-img2 {
    display: none;
  }

  .wonder p {
    padding-top: 30px;
    font-size: px;
  }


  .gradation {
    background-image: radial-gradient(at 10% 64%, #ff9b00, #46d9ff 99%, #ffd56c);
    position: absolute;
    top: 310px;
    width: 43%;
    height: 287px;
    aspect-ratio: 2/1;
    opacity: .2;
    z-index: -1;
  }

  .gradation-2 {
    background-image: radial-gradient(at 10% 80%, #4ac6ff 13%, #30ff81);
    position: absolute;
    top: 1050px;
    right: 0;
    width: 70%;
    height: 380px;
    aspect-ratio: 1.5/1;
    opacity: .2;
    z-index: -1;
  }

  .gradation-3 {
    background-image: radial-gradient(at 10% 80%, #ffe033 13%, #ff48bc);
    position: absolute;
    top: 1500px;
    left: 0;
    width: 70%;
    height: 340px;
    aspect-ratio: 1.5/1;
    opacity: .2;
    z-index: -1;
  }


}

@media (max-width: 959px) {

  .pc-menu {
    display: none;
  }

  .sp-menu {
    justify-content: right;
  }

  header h1 {
    display: none;
  }

  header img {
    width: 120px;
  }

  .top--img {
    display: none;
  }

  .sp-top-img {
    width: 70%;
    border-radius: 0 30px 0 0;

  }


  .main-title img {
    margin-top: 30px;
  }


  .top-wrap {
    margin-top: 64px 0;
  }

  .top-wrap img {
    width: 240px;
  }

  .top-wrap h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 24px;
  }

  .wrap img {
    width: 50px;
    height: 45px;
    padding-bottom: 10px;
  }

  .wrap {
    font-size: 12px;
  }

  .answer-img1--pc {
    display: none;
  }

  .answer-img2--pc {
    display: none;
  }

  .answer-img1 {
    display: none;
  }

  .answer-img2 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 1150px;
    opacity: .7;
  }


  .wonder P {
    padding: 24px 0;
  }


  .wonder-explanation-1 img {
    display: none;
  }

  .wonder-explanation-2 img {
    display: none;
  }


  .explanation-1 {
    padding: 30px;
    height: 170px;
  }

  .explanation-2 {
    padding: 30px;
    height: 120px;
  }

  .explanation-1 p {
    font-size: 12px;
  }

  .explanation-2 p {
    font-size: 12px;
  }


  footer img {
    width: 16%;
  }

}



@media (max-width:767px) {

  .sp-top-img {
    width: 70%;
  }

  .main-title {
    width: 300px;
  }

  .answer-img2 {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .wonder {
    margin-top: -240px;
    padding-bottom: -300px;
  }

  .wonder p {
    margin-top: 20px;
  }

  .explanation-1 {
    margin-top: -80px;
  }

  .explanation-2 {
    margin-top: -60px;
  }

  .explanation-1 span {
    font-size: 15px;
  }

  .explanation-2 span {
    font-size: 15px;
  }

}




@media (min-width:768px) {

  .answe {
    margin: 80px 0 -300px;
  }

  .wonder {
    margin-top: -240px;
  }

  .wonder-explanation-1 {
    margin: -10px 0 -60px;
  }

}





/* タブレットまで */
@media (max-width:429px) {

  .answe {
    margin-bottom: -40px;
  }

  .wonder p {
    font-size: 13px;
  }

  .check-list {
    width: 400px;
    margin: 0 10px;
  }

  .list-text h6 {
    font-size: 16px;
    width: 300px;
    height: 50px;
  }

  .list-1{
    width: 300px;
    /* height: 500px; */
    font-size: 13px;
  }

  .list-1 p {
    font-size: 16px;
  }

  .list-1 img {
    width: 20px;
  }

  footer img {
    width: 20%;
  }

  footer li {
    font-size: 10px;
  }

  footer small {
    font-size: 10px;
  }



}


@media (min-width:430px) {

  body {
    overflow-x: hidden;
  }

  .sp--top-wrap {
    padding: 0 30px;
  }


  .main-title {
    width: 260px;
  }

  .sp-top-img {
    width: 50%;
  }


  .wonder h4 {
    margin-bottom: -17px;
  }


  footer img {
    width: 40%;
  }

}