@media(min-width: 960px) {

  .offAI-img-sp {
    display: none;
  }

  .seminar-img-sp {
    display: none;
  }



  /* main-section-7 */

  .sp-support-img {
    display: none;
  }


}



@media (max-width: 959px) {
  /* main */

  .offAI-img-pc {
    display: none;
  }

  .seminar-img-pc {
    display: none;
  }


  /* main-section-7 */

  .pc-support-img {
    display: none;
  }
}