@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: 'Heebo' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  background: rgb(249, 255, 255);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}



/* header */

header {
  display: flex;
}

header img {
  width: 10%;
  height: 20px;
  padding-left: 10px;
}

header ul {
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 16px;
}




/* main */

.top--title {
  display: flex;
  align-items: center;
}

.top--img {
  width: 75%;
  height: 530px;
  justify-content: space-between;
  object-fit: cover;
  border-radius: 50px 0 0 0;
  z-index: 0;
}

.main-title {
  width: 430px;
  padding: 0 80px 0 30px;
}

.main-title img {
  width: 100px;
  opacity: .8;
  margin-left: -20px;
}

.main-title h2 {
  font-size: 30px;
  font-family: Georgia, serif;
  font-weight: 500;
  padding: 10px 0;
  letter-spacing: 5px;
}

.main-title p {
  font-size: 16px;
  letter-spacing: 2px;
}

.background {
  width: 40%;
  height: 100px;
}


.top-wrap {
  background: #4d6f95c4;
  margin-top: 30px;
  padding: 50px 0;
  text-align: center;
}

.top-wrap img {
  width: 300px;
}

.top-wrap span {
  border: solid 1px #3f5d7fc4;
  background: #3f5d7fc4;
  padding: 10px 0;
}

.top-wrap h3 {
  font-size: 32px;
  font-family: Georgia, serif;
  font-weight: 500;
  padding: 24px;
}

.top-wrap ul {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.wrap img {
  width: 100px;
  height: 95px;
  padding-bottom: 10px;
}


.answer {
  text-align: center;
  margin: 80px 0 400px;
  padding-bottom: 320px;
}

.answer span {
  letter-spacing: 2px;
}

.answer h2 {
  letter-spacing: 10px;
  padding: 16px 0;
  font-size: 30px;
  font-family: Georgia, serif;
}

.answer-img1--pc {
  width: 30%;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 1300px;
  left: 350px;
  z-index: -1;
}

.answer-img2--pc {
  width: 30%;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 1590px;
  left: 720px;
  z-index: 0;
}



.wonder {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  background-image: url(img/IMG_3381.PNG);
  background-size: 100%;
  object-fit: cover;
}

.wonder h4 {
  font-family: Georgia, serif;
  margin-bottom: 30px;
}

.text2 {
  width: 50%;
  padding-top: 80px;
}

.wonder span {
  font-family: Georgia, serif;
  border-bottom: 1px solid #72baf9;
  color: #72baf9;
  letter-spacing: 3px;
}



/* wonder-explanation */


.wonder-explanation--1 {
  padding: 80px 0 20px;
  display: block;
  display: flex;
  /* width: 100%; */
  justify-content: center;
  gap: 10px;
  align-items: last baseline;
}

.wonder-explanation--1 img {
  width: 40%;
  height: 320px;
  object-fit: cover;
  border-radius: 0 50px 0 0;
}

.explanation--1 {
  width: 360px;
  padding: 50px;
  text-align: left;
  border: 1px solid rgb(246, 252, 255);
  background: rgb(246, 252, 255);
}

.explanation--1 span {
  font-size: 27px;
  border: 1px solid #a4beff;
  background: #a4beff;
  color: aliceblue;
  padding: 10px;
  margin: 0 8px 0 0;
}

.explanation--1 h5 {
  margin-bottom: 10px;
}

.wonder-explanation--2 {
  margin: 60px 0 20px;
  display: block;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
}


.wonder-explanation--2 img {
  margin-top: 30px;
  width: 40%;
  height: 320px;
  object-fit: cover;
  border-radius: 50px 0 0 0;
  align-items: baseline;
}

.explanation--2 {
  width: 360px;
  padding: 50px;
  text-align: left;
  border: 1px solid rgb(246, 252, 255);
  background: rgb(246, 252, 255);
}

.explanation--2 span {
  font-size: 27px;
  border: 1px solid #a4beff;
  background: #a4beff;
  color: aliceblue;
  padding: 10px;
  margin: 0 8px 0 0;
}

.explanation--2 h5 {
  margin-bottom: 10px;
}



/* check-list */

.list-text h6 {
  margin: 40px auto;
  font-family: Georgia, serif;
  font-size: 28px;
  color: aliceblue;
  width: 500px;
  height: 80px;
  text-align: center;
  background-image: linear-gradient(90deg, #f08122, #ffd56c 100%, #f8ab47);
}

.list--1 {
  width: 500px;
  height: 600px;
  margin: 50px auto 0;
}

.list--1 img {
  width: 40px;
}

.list--1 p {
  margin: 20px auto;
  font-family: Georgia, serif;
  font-size: 24px;
  width: 400px;
  text-align: center;
}

.list--1 li {
  padding: 10px 0;
  width: 500px;
  border-bottom: .8px solid gray;
}


/* footer */

footer{
  text-align: center;
  background-image: linear-gradient(270deg, #ff30c340 13%, #ff8b8b36);
  padding: 30px 0 10px;
}

/* footer img{
  width: 16%;
} */

footer ul{
  margin: 24px auto 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

footer small{
  font-size: 12px;
}